#s-e6d06ddb-1841-4061-afb6-e9412c66e77a {
  background-color: transparent;
  background-image: none;
  min-width: 714px;
  min-height: 311px;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Dynamic_Panel_1 {
  position: absolute;
  top: 31px;
  left: 136px;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_1 {
  width: 578px;
  height: 280px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_1 {
  position: absolute;
  top: 16px;
  left: 26px;
  width: 136px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_1 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Group_1 {
  position: absolute;
  top: 229px;
  left: 439px;
  width: 92px;
  height: 25px;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 92px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_2 {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 79px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_2 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Hotspot_1 {
  position: absolute;
  top: 11px;
  left: 525px;
  width: 34px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_3 {
  position: absolute;
  top: 45px;
  left: 129px;
  width: 287px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_3 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_4 {
  position: absolute;
  top: 128px;
  left: 173px;
  width: 109px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_4 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Group_2 {
  position: absolute;
  top: 157px;
  left: 173px;
  width: 147px;
  height: 85px;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 147px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Input_1 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 117px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Group_3 {
  position: absolute;
  top: 20px;
  left: 2px;
  width: 143px;
  height: 65px;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Dynamic_Panel_2 {
  position: absolute;
  top: 42px;
  left: 0px;
  display: none;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_2 {
  width: 139px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #444444;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #444444;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_5 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 101px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_5 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Dynamic_Panel_3 {
  position: absolute;
  top: 20px;
  left: 0px;
  display: none;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_3 {
  width: 139px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #444444;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #444444;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_6 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 94px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_6 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_4 {
  width: 139px;
  height: 21px;
  background-color: #444444;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #444444;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #444444;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_7 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 89px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_7 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_8 {
  position: absolute;
  top: 82px;
  left: 128px;
  width: 289px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  line-height: 16pt;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Label_8 .valign {
  vertical-align: middle;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a #s-Image_4 {
  position: absolute;
  top: 47px;
  left: 18px;
  width: 58px;
  height: 55px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  cursor: pointer;
}
#s-e6d06ddb-1841-4061-afb6-e9412c66e77a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}